<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905547466612-q3chvt6qma28l5j98nm78ihp5k5v12hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905547466612-q3chvt6qma28l5j98nm78ihp5k5v12hg</string>
	<key>API_KEY</key>
	<string>AIzaSyBDxrE2KA_N3i3nw29UFBiaAAzdRrbEusU</string>
	<key>GCM_SENDER_ID</key>
	<string>905547466612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkaykuzu.Snapchat-Clone</string>
	<key>PROJECT_ID</key>
	<string>snapchat-clone-ccccb</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-clone-ccccb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:905547466612:ios:b9dcfb329b11dada7c0e21</string>
</dict>
</plist>
